<ol class="breadcrumb">
  {% for first_level in navigation.items %}
        {%if first_level.currently_active %}
            <li><a href="{{first_level.url}}" target="{{first_level.target }}">{{first_level.label}}</a></li>
            {% for second_level in first_level.items %}
                {%if second_level.currently_active %}
                    <li><a href="{{second_level.url}}" target="{{second_level.target }}">{{second_level.label}}</a></li> 
                        {% for third_level in second_level.items %}
                            {%if third_level.currently_active %}
                                <li><a href="{{third_level.url}}" target="{{third_level.target }}">{{third_level.label}}</a></li>   
                            {%endif%}
                        {% endfor %}
                {%endif%}
            {% endfor %}
        {%endif%}
    {% endfor %}
</ol>