{% dropdown-Width {
    "1/1" : "col-md-12",
    "1/2" : "col-md-6",
    "1/3" : "col-md-4",
    "1/4" : "col-md-3"
} %}
{% dropdown-Text_Alignment {
    "left" : "text-left",
    "right" : "text-right",
    "center" : "text-center",
    "justify" : "text-justify"
} %}
{% dropdown-Icon {
  "Adjust": "fa-adjust",
  "Adn": "fa-adn",
  "Align center": "fa-align-center",
  "Align justify": "fa-align-justify",
  "Align left": "fa-align-left",
  "Align right": "fa-align-right",
  "Amazon": "fa-amazon",
  "Ambulance": "fa-ambulance",
  "Anchor": "fa-anchor",
  "Android": "fa-android",
  "Angellist": "fa-angellist",
  "Angle double down": "fa-angle-double-down",
  "Angle double left": "fa-angle-double-left",
  "Angle double right": "fa-angle-double-right",
  "Angle double up": "fa-angle-double-up",
  "Angle down": "fa-angle-down",
  "Angle left": "fa-angle-left",
  "Angle right": "fa-angle-right",
  "Angle up": "fa-angle-up",
  "Apple": "fa-apple",
  "Archive": "fa-archive",
  "Area chart": "fa-area-chart",
  "Arrow circle down": "fa-arrow-circle-down",
  "Arrow circle left": "fa-arrow-circle-left",
  "Arrow circle o down": "fa-arrow-circle-o-down",
  "Arrow circle o left": "fa-arrow-circle-o-left",
  "Arrow circle o right": "fa-arrow-circle-o-right",
  "Arrow circle o up": "fa-arrow-circle-o-up",
  "Arrow circle right": "fa-arrow-circle-right",
  "Arrow circle up": "fa-arrow-circle-up",
  "Arrow down": "fa-arrow-down",
  "Arrow left": "fa-arrow-left",
  "Arrow right": "fa-arrow-right",
  "Arrow up": "fa-arrow-up",
  "Arrows": "fa-arrows",
  "Arrows alt": "fa-arrows-alt",
  "Arrows h": "fa-arrows-h",
  "Arrows v": "fa-arrows-v",
  "Asterisk": "fa-asterisk",
  "At": "fa-at",
  "Backward": "fa-backward",
  "Balance scale": "fa-balance-scale",
  "Ban": "fa-ban",
  "Bar chart": "fa-bar-chart",
  "Barcode": "fa-barcode",
  "Bars": "fa-bars",
  "Battery empty": "fa-battery-empty",
  "Battery full": "fa-battery-full",
  "Battery half": "fa-battery-half",
  "Battery quarter": "fa-battery-quarter",
  "Battery three quarters": "fa-battery-three-quarters",
  "Bed": "fa-bed",
  "Beer": "fa-beer",
  "Behance": "fa-behance",
  "Behance square": "fa-behance-square",
  "Bell": "fa-bell",
  "Bell o": "fa-bell-o",
  "Bell slash": "fa-bell-slash",
  "Bell slash o": "fa-bell-slash-o",
  "Bicycle": "fa-bicycle",
  "Binoculars": "fa-binoculars",
  "Birthday cake": "fa-birthday-cake",
  "Bitbucket": "fa-bitbucket",
  "Bitbucket square": "fa-bitbucket-square",
  "Black tie": "fa-black-tie",
  "Bold": "fa-bold",
  "Bolt": "fa-bolt",
  "Bomb": "fa-bomb",
  "Book": "fa-book",
  "Bookmark": "fa-bookmark",
  "Bookmark o": "fa-bookmark-o",
  "Briefcase": "fa-briefcase",
  "Btc": "fa-btc",
  "Bug": "fa-bug",
  "Building": "fa-building",
  "Building o": "fa-building-o",
  "Bullhorn": "fa-bullhorn",
  "Bullseye": "fa-bullseye",
  "Bus": "fa-bus",
  "Buysellads": "fa-buysellads",
  "Calculator": "fa-calculator",
  "Calendar": "fa-calendar",
  "Calendar check o": "fa-calendar-check-o",
  "Calendar minus o": "fa-calendar-minus-o",
  "Calendar o": "fa-calendar-o",
  "Calendar plus o": "fa-calendar-plus-o",
  "Calendar times o": "fa-calendar-times-o",
  "Camera": "fa-camera",
  "Camera retro": "fa-camera-retro",
  "Car": "fa-car",
  "Caret down": "fa-caret-down",
  "Caret left": "fa-caret-left",
  "Caret right": "fa-caret-right",
  "Caret square o down": "fa-caret-square-o-down",
  "Caret square o left": "fa-caret-square-o-left",
  "Caret square o right": "fa-caret-square-o-right",
  "Caret square o up": "fa-caret-square-o-up",
  "Caret up": "fa-caret-up",
  "Cart arrow down": "fa-cart-arrow-down",
  "Cart plus": "fa-cart-plus",
  "Cc": "fa-cc",
  "Cc amex": "fa-cc-amex",
  "Cc diners club": "fa-cc-diners-club",
  "Cc discover": "fa-cc-discover",
  "Cc jcb": "fa-cc-jcb",
  "Cc mastercard": "fa-cc-mastercard",
  "Cc paypal": "fa-cc-paypal",
  "Cc stripe": "fa-cc-stripe",
  "Cc visa": "fa-cc-visa",
  "Certificate": "fa-certificate",
  "Chain broken": "fa-chain-broken",
  "Check": "fa-check",
  "Check circle": "fa-check-circle",
  "Check circle o": "fa-check-circle-o",
  "Check square": "fa-check-square",
  "Check square o": "fa-check-square-o",
  "Chevron circle down": "fa-chevron-circle-down",
  "Chevron circle left": "fa-chevron-circle-left",
  "Chevron circle right": "fa-chevron-circle-right",
  "Chevron circle up": "fa-chevron-circle-up",
  "Chevron down": "fa-chevron-down",
  "Chevron left": "fa-chevron-left",
  "Chevron right": "fa-chevron-right",
  "Chevron up": "fa-chevron-up",
  "Child": "fa-child",
  "Chrome": "fa-chrome",
  "Circle": "fa-circle",
  "Circle o": "fa-circle-o",
  "Circle o notch": "fa-circle-o-notch",
  "Circle thin": "fa-circle-thin",
  "Clipboard": "fa-clipboard",
  "Clock o": "fa-clock-o",
  "Clone": "fa-clone",
  "Cloud": "fa-cloud",
  "Cloud download": "fa-cloud-download",
  "Cloud upload": "fa-cloud-upload",
  "Code": "fa-code",
  "Code fork": "fa-code-fork",
  "Codepen": "fa-codepen",
  "Coffee": "fa-coffee",
  "Cog": "fa-cog",
  "Cogs": "fa-cogs",
  "Columns": "fa-columns",
  "Comment": "fa-comment",
  "Comment o": "fa-comment-o",
  "Commenting": "fa-commenting",
  "Commenting o": "fa-commenting-o",
  "Comments": "fa-comments",
  "Comments o": "fa-comments-o",
  "Compass": "fa-compass",
  "Compress": "fa-compress",
  "Connectdevelop": "fa-connectdevelop",
  "Contao": "fa-contao",
  "Copyright": "fa-copyright",
  "Creative commons": "fa-creative-commons",
  "Credit card": "fa-credit-card",
  "Crop": "fa-crop",
  "Crosshairs": "fa-crosshairs",
  "Css3": "fa-css3",
  "Cube": "fa-cube",
  "Cubes": "fa-cubes",
  "Cutlery": "fa-cutlery",
  "Dashcube": "fa-dashcube",
  "Database": "fa-database",
  "Delicious": "fa-delicious",
  "Desktop": "fa-desktop",
  "Deviantart": "fa-deviantart",
  "Diamond": "fa-diamond",
  "Digg": "fa-digg",
  "Dot circle o": "fa-dot-circle-o",
  "Download": "fa-download",
  "Dribbble": "fa-dribbble",
  "Dropbox": "fa-dropbox",
  "Drupal": "fa-drupal",
  "Eject": "fa-eject",
  "Ellipsis h": "fa-ellipsis-h",
  "Ellipsis v": "fa-ellipsis-v",
  "Empire": "fa-empire",
  "Envelope": "fa-envelope",
  "Envelope o": "fa-envelope-o",
  "Envelope square": "fa-envelope-square",
  "Eraser": "fa-eraser",
  "Eur": "fa-eur",
  "Exchange": "fa-exchange",
  "Exclamation": "fa-exclamation",
  "Exclamation circle": "fa-exclamation-circle",
  "Exclamation triangle": "fa-exclamation-triangle",
  "Expand": "fa-expand",
  "Expeditedssl": "fa-expeditedssl",
  "External link": "fa-external-link",
  "External link square": "fa-external-link-square",
  "Eye": "fa-eye",
  "Eye slash": "fa-eye-slash",
  "Eyedropper": "fa-eyedropper",
  "Facebook": "fa-facebook",
  "Facebook official": "fa-facebook-official",
  "Facebook square": "fa-facebook-square",
  "Fast backward": "fa-fast-backward",
  "Fast forward": "fa-fast-forward",
  "Fax": "fa-fax",
  "Female": "fa-female",
  "Fighter jet": "fa-fighter-jet",
  "File": "fa-file",
  "File archive o": "fa-file-archive-o",
  "File audio o": "fa-file-audio-o",
  "File code o": "fa-file-code-o",
  "File excel o": "fa-file-excel-o",
  "File image o": "fa-file-image-o",
  "File o": "fa-file-o",
  "File pdf o": "fa-file-pdf-o",
  "File powerpoint o": "fa-file-powerpoint-o",
  "File text": "fa-file-text",
  "File text o": "fa-file-text-o",
  "File video o": "fa-file-video-o",
  "File word o": "fa-file-word-o",
  "Files o": "fa-files-o",
  "Film": "fa-film",
  "Filter": "fa-filter",
  "Fire": "fa-fire",
  "Fire extinguisher": "fa-fire-extinguisher",
  "Firefox": "fa-firefox",
  "Flag": "fa-flag",
  "Flag checkered": "fa-flag-checkered",
  "Flag o": "fa-flag-o",
  "Flask": "fa-flask",
  "Flickr": "fa-flickr",
  "Floppy o": "fa-floppy-o",
  "Folder": "fa-folder",
  "Folder o": "fa-folder-o",
  "Folder open": "fa-folder-open",
  "Folder open o": "fa-folder-open-o",
  "Font": "fa-font",
  "Fonticons": "fa-fonticons",
  "Forumbee": "fa-forumbee",
  "Forward": "fa-forward",
  "Foursquare": "fa-foursquare",
  "Frown o": "fa-frown-o",
  "Futbol o": "fa-futbol-o",
  "Gamepad": "fa-gamepad",
  "Gavel": "fa-gavel",
  "Gbp": "fa-gbp",
  "Genderless": "fa-genderless",
  "Get pocket": "fa-get-pocket",
  "Gg": "fa-gg",
  "Gg circle": "fa-gg-circle",
  "Gift": "fa-gift",
  "Git": "fa-git",
  "Git square": "fa-git-square",
  "Github": "fa-github",
  "Github alt": "fa-github-alt",
  "Github square": "fa-github-square",
  "Glass": "fa-glass",
  "Globe": "fa-globe",
  "Google": "fa-google",
  "Google plus": "fa-google-plus",
  "Google plus square": "fa-google-plus-square",
  "Google wallet": "fa-google-wallet",
  "Graduation cap": "fa-graduation-cap",
  "Gratipay": "fa-gratipay",
  "H square": "fa-h-square",
  "Hacker news": "fa-hacker-news",
  "Hand lizard o": "fa-hand-lizard-o",
  "Hand o down": "fa-hand-o-down",
  "Hand o left": "fa-hand-o-left",
  "Hand o right": "fa-hand-o-right",
  "Hand o up": "fa-hand-o-up",
  "Hand paper o": "fa-hand-paper-o",
  "Hand peace o": "fa-hand-peace-o",
  "Hand pointer o": "fa-hand-pointer-o",
  "Hand rock o": "fa-hand-rock-o",
  "Hand scissors o": "fa-hand-scissors-o",
  "Hand spock o": "fa-hand-spock-o",
  "Hdd o": "fa-hdd-o",
  "Header": "fa-header",
  "Headphones": "fa-headphones",
  "Heart": "fa-heart",
  "Heart o": "fa-heart-o",
  "Heartbeat": "fa-heartbeat",
  "History": "fa-history",
  "Home": "fa-home",
  "Hospital o": "fa-hospital-o",
  "Hourglass": "fa-hourglass",
  "Hourglass end": "fa-hourglass-end",
  "Hourglass half": "fa-hourglass-half",
  "Hourglass o": "fa-hourglass-o",
  "Hourglass start": "fa-hourglass-start",
  "Houzz": "fa-houzz",
  "Html5": "fa-html5",
  "I cursor": "fa-i-cursor",
  "Ils": "fa-ils",
  "Inbox": "fa-inbox",
  "Indent": "fa-indent",
  "Industry": "fa-industry",
  "Info": "fa-info",
  "Info circle": "fa-info-circle",
  "Inr": "fa-inr",
  "Instagram": "fa-instagram",
  "Internet explorer": "fa-internet-explorer",
  "Ioxhost": "fa-ioxhost",
  "Italic": "fa-italic",
  "Joomla": "fa-joomla",
  "Jpy": "fa-jpy",
  "Jsfiddle": "fa-jsfiddle",
  "Key": "fa-key",
  "Keyboard o": "fa-keyboard-o",
  "Krw": "fa-krw",
  "Language": "fa-language",
  "Laptop": "fa-laptop",
  "Lastfm": "fa-lastfm",
  "Lastfm square": "fa-lastfm-square",
  "Leaf": "fa-leaf",
  "Leanpub": "fa-leanpub",
  "Lemon o": "fa-lemon-o",
  "Level down": "fa-level-down",
  "Level up": "fa-level-up",
  "Life ring": "fa-life-ring",
  "Lightbulb o": "fa-lightbulb-o",
  "Line chart": "fa-line-chart",
  "Link": "fa-link",
  "Linkedin": "fa-linkedin",
  "Linkedin square": "fa-linkedin-square",
  "Linux": "fa-linux",
  "List": "fa-list",
  "List alt": "fa-list-alt",
  "List ol": "fa-list-ol",
  "List ul": "fa-list-ul",
  "Location arrow": "fa-location-arrow",
  "Lock": "fa-lock",
  "Long arrow down": "fa-long-arrow-down",
  "Long arrow left": "fa-long-arrow-left",
  "Long arrow right": "fa-long-arrow-right",
  "Long arrow up": "fa-long-arrow-up",
  "Magic": "fa-magic",
  "Magnet": "fa-magnet",
  "Male": "fa-male",
  "Map": "fa-map",
  "Map marker": "fa-map-marker",
  "Map o": "fa-map-o",
  "Map pin": "fa-map-pin",
  "Map signs": "fa-map-signs",
  "Mars": "fa-mars",
  "Mars double": "fa-mars-double",
  "Mars stroke": "fa-mars-stroke",
  "Mars stroke h": "fa-mars-stroke-h",
  "Mars stroke v": "fa-mars-stroke-v",
  "Maxcdn": "fa-maxcdn",
  "Meanpath": "fa-meanpath",
  "Medium": "fa-medium",
  "Medkit": "fa-medkit",
  "Meh o": "fa-meh-o",
  "Mercury": "fa-mercury",
  "Microphone": "fa-microphone",
  "Microphone slash": "fa-microphone-slash",
  "Minus": "fa-minus",
  "Minus circle": "fa-minus-circle",
  "Minus square": "fa-minus-square",
  "Minus square o": "fa-minus-square-o",
  "Mobile": "fa-mobile",
  "Money": "fa-money",
  "Moon o": "fa-moon-o",
  "Motorcycle": "fa-motorcycle",
  "Mouse pointer": "fa-mouse-pointer",
  "Music": "fa-music",
  "Neuter": "fa-neuter",
  "Newspaper o": "fa-newspaper-o",
  "Object group": "fa-object-group",
  "Object ungroup": "fa-object-ungroup",
  "Odnoklassniki": "fa-odnoklassniki",
  "Odnoklassniki square": "fa-odnoklassniki-square",
  "Opencart": "fa-opencart",
  "Openid": "fa-openid",
  "Opera": "fa-opera",
  "Optin monster": "fa-optin-monster",
  "Outdent": "fa-outdent",
  "Pagelines": "fa-pagelines",
  "Paint brush": "fa-paint-brush",
  "Paper plane": "fa-paper-plane",
  "Paper plane o": "fa-paper-plane-o",
  "Paperclip": "fa-paperclip",
  "Paragraph": "fa-paragraph",
  "Pause": "fa-pause",
  "Paw": "fa-paw",
  "Paypal": "fa-paypal",
  "Pencil": "fa-pencil",
  "Pencil square": "fa-pencil-square",
  "Pencil square o": "fa-pencil-square-o",
  "Phone": "fa-phone",
  "Phone square": "fa-phone-square",
  "Picture o": "fa-picture-o",
  "Pie chart": "fa-pie-chart",
  "Pied piper": "fa-pied-piper",
  "Pied piper alt": "fa-pied-piper-alt",
  "Pinterest": "fa-pinterest",
  "Pinterest p": "fa-pinterest-p",
  "Pinterest square": "fa-pinterest-square",
  "Plane": "fa-plane",
  "Play": "fa-play",
  "Play circle": "fa-play-circle",
  "Play circle o": "fa-play-circle-o",
  "Plug": "fa-plug",
  "Plus": "fa-plus",
  "Plus circle": "fa-plus-circle",
  "Plus square": "fa-plus-square",
  "Plus square o": "fa-plus-square-o",
  "Power off": "fa-power-off",
  "Print": "fa-print",
  "Puzzle piece": "fa-puzzle-piece",
  "Qq": "fa-qq",
  "Qrcode": "fa-qrcode",
  "Question": "fa-question",
  "Question circle": "fa-question-circle",
  "Quote left": "fa-quote-left",
  "Quote right": "fa-quote-right",
  "Random": "fa-random",
  "Rebel": "fa-rebel",
  "Recycle": "fa-recycle",
  "Reddit": "fa-reddit",
  "Reddit square": "fa-reddit-square",
  "Refresh": "fa-refresh",
  "Registered": "fa-registered",
  "Renren": "fa-renren",
  "Repeat": "fa-repeat",
  "Reply": "fa-reply",
  "Reply all": "fa-reply-all",
  "Retweet": "fa-retweet",
  "Road": "fa-road",
  "Rocket": "fa-rocket",
  "Rss": "fa-rss",
  "Rss square": "fa-rss-square",
  "Rub": "fa-rub",
  "Safari": "fa-safari",
  "Scissors": "fa-scissors",
  "Search": "fa-search",
  "Search minus": "fa-search-minus",
  "Search plus": "fa-search-plus",
  "Sellsy": "fa-sellsy",
  "Server": "fa-server",
  "Share": "fa-share",
  "Share alt": "fa-share-alt",
  "Share alt square": "fa-share-alt-square",
  "Share square": "fa-share-square",
  "Share square o": "fa-share-square-o",
  "Shield": "fa-shield",
  "Ship": "fa-ship",
  "Shirtsinbulk": "fa-shirtsinbulk",
  "Shopping cart": "fa-shopping-cart",
  "Sign in": "fa-sign-in",
  "Sign out": "fa-sign-out",
  "Signal": "fa-signal",
  "Simplybuilt": "fa-simplybuilt",
  "Sitemap": "fa-sitemap",
  "Skyatlas": "fa-skyatlas",
  "Skype": "fa-skype",
  "Slack": "fa-slack",
  "Sliders": "fa-sliders",
  "Slideshare": "fa-slideshare",
  "Smile o": "fa-smile-o",
  "Sort": "fa-sort",
  "Sort alpha asc": "fa-sort-alpha-asc",
  "Sort alpha desc": "fa-sort-alpha-desc",
  "Sort amount asc": "fa-sort-amount-asc",
  "Sort amount desc": "fa-sort-amount-desc",
  "Sort asc": "fa-sort-asc",
  "Sort desc": "fa-sort-desc",
  "Sort numeric asc": "fa-sort-numeric-asc",
  "Sort numeric desc": "fa-sort-numeric-desc",
  "Soundcloud": "fa-soundcloud",
  "Space shuttle": "fa-space-shuttle",
  "Spinner": "fa-spinner",
  "Spoon": "fa-spoon",
  "Spotify": "fa-spotify",
  "Square": "fa-square",
  "Square o": "fa-square-o",
  "Stack exchange": "fa-stack-exchange",
  "Stack overflow": "fa-stack-overflow",
  "Star": "fa-star",
  "Star half": "fa-star-half",
  "Star half o": "fa-star-half-o",
  "Star o": "fa-star-o",
  "Steam": "fa-steam",
  "Steam square": "fa-steam-square",
  "Step backward": "fa-step-backward",
  "Step forward": "fa-step-forward",
  "Stethoscope": "fa-stethoscope",
  "Sticky note": "fa-sticky-note",
  "Sticky note o": "fa-sticky-note-o",
  "Stop": "fa-stop",
  "Street view": "fa-street-view",
  "Strikethrough": "fa-strikethrough",
  "Stumbleupon": "fa-stumbleupon",
  "Stumbleupon circle": "fa-stumbleupon-circle",
  "Subscript": "fa-subscript",
  "Subway": "fa-subway",
  "Suitcase": "fa-suitcase",
  "Sun o": "fa-sun-o",
  "Superscript": "fa-superscript",
  "Table": "fa-table",
  "Tablet": "fa-tablet",
  "Tachometer": "fa-tachometer",
  "Tag": "fa-tag",
  "Tags": "fa-tags",
  "Tasks": "fa-tasks",
  "Taxi": "fa-taxi",
  "Television": "fa-television",
  "Tencent weibo": "fa-tencent-weibo",
  "Terminal": "fa-terminal",
  "Text height": "fa-text-height",
  "Text width": "fa-text-width",
  "Th": "fa-th",
  "Th large": "fa-th-large",
  "Th list": "fa-th-list",
  "Thumb tack": "fa-thumb-tack",
  "Thumbs down": "fa-thumbs-down",
  "Thumbs o down": "fa-thumbs-o-down",
  "Thumbs o up": "fa-thumbs-o-up",
  "Thumbs up": "fa-thumbs-up",
  "Ticket": "fa-ticket",
  "Times": "fa-times",
  "Times circle": "fa-times-circle",
  "Times circle o": "fa-times-circle-o",
  "Tint": "fa-tint",
  "Toggle off": "fa-toggle-off",
  "Toggle on": "fa-toggle-on",
  "Trademark": "fa-trademark",
  "Train": "fa-train",
  "Transgender": "fa-transgender",
  "Transgender alt": "fa-transgender-alt",
  "Trash": "fa-trash",
  "Trash o": "fa-trash-o",
  "Tree": "fa-tree",
  "Trello": "fa-trello",
  "Tripadvisor": "fa-tripadvisor",
  "Trophy": "fa-trophy",
  "Truck": "fa-truck",
  "Try": "fa-try",
  "Tty": "fa-tty",
  "Tumblr": "fa-tumblr",
  "Tumblr square": "fa-tumblr-square",
  "Twitch": "fa-twitch",
  "Twitter": "fa-twitter",
  "Twitter square": "fa-twitter-square",
  "Umbrella": "fa-umbrella",
  "Underline": "fa-underline",
  "Undo": "fa-undo",
  "University": "fa-university",
  "Unlock": "fa-unlock",
  "Unlock alt": "fa-unlock-alt",
  "Upload": "fa-upload",
  "Usd": "fa-usd",
  "User": "fa-user",
  "User md": "fa-user-md",
  "User plus": "fa-user-plus",
  "User secret": "fa-user-secret",
  "User times": "fa-user-times",
  "Users": "fa-users",
  "Venus": "fa-venus",
  "Venus double": "fa-venus-double",
  "Venus mars": "fa-venus-mars",
  "Viacoin": "fa-viacoin",
  "Video camera": "fa-video-camera",
  "Vimeo": "fa-vimeo",
  "Vimeo square": "fa-vimeo-square",
  "Vine": "fa-vine",
  "Vk": "fa-vk",
  "Volume down": "fa-volume-down",
  "Volume off": "fa-volume-off",
  "Volume up": "fa-volume-up",
  "Weibo": "fa-weibo",
  "Weixin": "fa-weixin",
  "Whatsapp": "fa-whatsapp",
  "Wheelchair": "fa-wheelchair",
  "Wifi": "fa-wifi",
  "Wikipedia w": "fa-wikipedia-w",
  "Windows": "fa-windows",
  "Wordpress": "fa-wordpress",
  "Wrench": "fa-wrench",
  "Xing": "fa-xing",
  "Xing square": "fa-xing-square",
  "Y combinator": "fa-y-combinator",
  "Yahoo": "fa-yahoo",
  "Yelp": "fa-yelp",
  "Youtube": "fa-youtube",
  "Youtube play": "fa-youtube-play",
  "Youtube square": "fa-youtube-square"    
} %}
{% dropdown-Icon_Size {
    "1x" : "", 
    "33%" : "fa-lg", 
    "2x" : "fa-2x", 
    "3x": "fa-3x", 
    "4x" : "fa-4x", 
    "5x" : "fa-5x"
} %}
{% dropdown-Icon_Width {
    "default" : "", 
    "fixed" : "fa-fw" 
} %}
{% dropdown-Icon_Animation {
    "none" : "", 
    "spin" : "fa-spin", 
    "pulse" : "fa-pulse" 
} %}
{% dropdown-Icon_Rotation {
    "none" : "", 
    "90 degrees" : "fa-rotate-90", 
    "180 degrees" : "fa-rotate-180", 
    "270 degrees" : "fa-rotate-270", 
    "flip horizontal" : "fa-flip-horizontal", 
    "flip vertical" : "fa-flip-vertical"
} %}
{% dropdown-Display_Read_More_Button {
    "yes" : "yes",
    "no" : "no"
} %}

{% dropdown-Text_Alignment {
    "left" : "text-left",
    "right" : "text-right",
    "center" : "text-center",
    "justify" : "text-justify"
} %}

{% dropdown-Button_Color {
    "default" : "btn-default",
    "primary" : "btn-primary",
    "success" : "btn-success",
    "info" : "btn-info",
    "warning" : "btn-warning",
    "danger" : "btn-danger",
    "link" : "btn-link"
    }
    %}
{% dropdown-Button_Size {
    "default" : "",
    "large" : "btn-lg",
    "small" : "btn-sm",
    "extra small" : "btn-xs"
    } %}
{% dropdown-Button_Width {
    "auto" : "",
    "full" : "btn-block"
    } %}

{% if simple_string-Link_Override_URL.content != blank %}
    {% assign myurl = simple_string-Link_Override_URL %}
{% else %}
    {% assign myurl = page_link-Link_To_Page %}
{% endif %}
<div id="{{html_attributes.id}}" class="col-xs-12 {{dropdown-Width}} {{html_attributes.classes}} {{dropdown-Text_Alignment}}" {{html_attributes.attributes}}>
    <i class="fa {{dropdown-Icon}} {{dropdown-Icon_Width}} {{dropdown-Icon_Size}} {{dropdown-Icon_Animation}} {{dropdown-Icon_Rotation}}"></i>
    <h3>{{article.title}}</h3>
    {{article.body}}
    {% if dropdown-Display_Read_More_Button == "yes" %}
        <a href="{{myurl}}" class="btn {{dropdown-Button_Color}} {{dropdown-Button_Size}} {{dropdown-Button_Width}}">{{simple_string-Button_Label}}</a>
    {% endif %}
</div><!-- end.col-xs-12 -->
