{% dropdown-Tag {"section":"section","div":"div","main": "main"} %}
{% dropdown-Width {"Full" : "container-fluid", "Fixed" : "container"} %}
<{{dropdown-Tag}} class="{{dropdown-Width}} {{html_attributes.classes}}" id="{{html_attributes.id}}" {{html_attributes.attributes}}>
      <div class="row">
          {{structured}}
      </div>
</{{dropdown-Tag}}>