{% dropdown-Form_Orientation {"default" : "", "inline" : "form-inline", "horizontal" : "form-horizontal"} %}
<form class="{{dropdown-Form_Orientation}} {{html_attributes.classes}}" id="{{html_attributes.id}}" {{html_attributes.attributes}} action="{{simple_string-Action}}" method="{{simple_string-Method}}">
    <h3>{{simple_string-Form_title}}</h3>
    {{structured}}
</form>